<div id="page" class="theia-exception">
    <div>
        <div class="container margin_30">

            <div class="row">
                <div class="col-lg-6 magnific-gallery">
                    <p>
                        <a href="assets/img/products/shoes/large/1.jpg" title="Photo title"
                            data-effect="mfp-zoom-in"><img src="{{produit.imageUrl}}" alt="" class="img-fluid"></a>
                    </p>


                </div>
                <div class="col-lg-6" id="sidebar_fixed">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>

                            <li>Détails Produits </li>
                        </ul>
                    </div>
                    <!-- /page_header -->
                    <div class="prod_info">
                        <h1>{{produit.titre}}</h1>
                        <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star"></i><em>4 reviews</em></span>
                        <p><small>ID: {{produit.idProduit}}</small><br>Sed ex labitur adolescens scriptorem. Te saepe
                            verear tibique sed. Et wisi ridens vix, lorem iudico blandit mel cu. Ex vel sint zril
                            oportere, amet wisi aperiri te cum.</p>
                        <p>{{produit.description}}</p>
                        <div class="col-lg-4 col-md-6">
                            <div style="width: 210px;" class="numbers-row">
                                <input type="text" value="{{qte}}" id="quantity_1" class="qty2" name="quantity_1">
                                <div (click)="ajoutQuantite()" class="inc button_inc">+</div>
                                <div (click)="retireQuantite()" class="dec button_inc">-</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="price_main"><span class="new_price">{{produit.prix}}DT</span></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="btn_add_to_cart"><a (click)="ajouterAuCommande(produit)" class="btn_1">Add
                                        to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- /prod_info -->

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

        <div class="tabs_product bg_white version_2">
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab"
                            role="tab">Description</a>
                    </li>
                    <li class="nav-item" (click)="listeCommentaireProduit()">
                        <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Commenterrr</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /tabs_product -->

        <div class="tab_content_wrapper">
            <div>
                <div class="tab-content" role="tablist">
                    <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
                        <div class="card-header" role="tab" id="heading-A">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="false"
                                    aria-controls="collapse-A">
                                    Description
                                </a>
                            </h5>
                        </div>

                        <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-lg-6">

                                        <h3>Details</h3>
                                        <img src="{{produit.imageUrl}}">
                                        <p> Cest un produit avec un titre : {{produit.titre}} caractérisée par:
                                            {{produit.description}}.<br>
                                            le prix de cet article est : {{produit.prix}} et appartient à la catégorie :
                                            {{produit.sousCategorie.categorie.titre}}
                                            et à la sous catégorie {{produit.sousCategorie.titre}} <br>
                                            la nature de ce produit est : {{produit.nature}} et le stock disponible est
                                            {{produit.stock}}
                                        </p>
                                    </div>
                                    <div class="col-lg-5">
                                        <h3>Specifications</h3>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>sousCategorie</strong></td>
                                                        <td>{{produit.sousCategorie.titre}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Categorie</strong></td>
                                                        <td>{{produit.sousCategorie.categorie.titre}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Nature</strong></td>
                                                        <td>{{produit.nature}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>prix</strong></td>
                                                        <td>{{produit.prix}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /table-responsive -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /TAB A -->
                    <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                        <div class="card-header" role="tab" id="heading-B">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
                                    aria-controls="collapse-B">
                                    Commenter
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col-lg-5">
                                        <div class="review_content" *ngFor="let c of listeCommentaires">
                                            <div class="clearfix add_bottom_10">
                                                <span class="rating">
                                                    <div>
                                                        <i class="icon-star"></i>
                                                    </div>

                                                    <em>{{c.nbrEtoile}}/5.0</em>
                                                </span>
                                                <em>Publier par : {{c.client.nom}}</em>
                                            </div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img style=" -webkit-border-radius:50px;
                                                        -moz-border-radius:50px;
                                                         border-radius:50px;
                                                         width:40px;
                                                        height:40px;" class="img" src="{{c.client.imageUrl}}">
                                                    </td>
                                                    <td>
                                                        <h4>{{c.client.nom}}</h4>
                                                    </td>
                                                </tr>
                                            </table>
                                            <h4>{{c.titre}}</h4>
                                            <p>{{c.contenu}}</p>
                                        </div>
                                    </div>


                                </div>
                                <!-- /row -->

                            </div>
                            <!-- /card-body -->
                        </div>

                    </div>
                    <!-- /tab B -->
                </div>
                <!-- /tab-content -->
            </div>
            <!-- /container -->
        </div>
        <!-- /tab_content_wrapper -->


        <div class="feat">
            <div class="container">

            </div>
        </div>
        <!--/feat-->

    </div>
    <!-- /main -->
</div>

<!--<div id="toTop"></div> Back to top button -->

<div class="top_panel">
    <div class="container header_panel">
        <a href="#0" class="btn_close_top_panel"><i class="ti-close"></i></a>
        <label>1 product added to cart</label>
    </div>
    <!-- /header_panel -->
    <div class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="item_panel">
                        <figure>
                            <img src="{{produit.imageUrl}}" data-src="img/products/shoes/1.jpg" class="lazy" alt="">
                        </figure>
                        <h4>1x Armor Air X Fear</h4>
                        <div class="price_panel"><span class="new_price">$148.00</span><span
                                class="percentage">-20%</span> <span class="old_price">$160.00</span></div>
                    </div>
                </div>
                <div class="col-md-5 btn_panel">
                    <a href="cart.html" class="btn_1 outline">View cart</a> <a href="checkout.html"
                        class="btn_1">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /item -->
    <div class="container related">
        <h4>Who bought this product also bought</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="item_panel">
                    <a href="#0">
                        <figure>
                            <img src="img/products/product_placeholder_square_small.jpg"
                                data-src="img/products/shoes/2.jpg" alt="" class="lazy">
                        </figure>
                    </a>
                    <a href="#0">
                        <h5>Armor Okwahn II</h5>
                    </a>
                    <div class="price_panel"><span class="new_price">$90.00</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item_panel">
                    <a href="#0">
                        <figure>
                            <img src="img/products/product_placeholder_square_small.jpg"
                                data-src="img/products/shoes/3.jpg" alt="" class="lazy">
                        </figure>
                    </a>
                    <a href="#0">
                        <h5>Armor Air Wildwood ACG</h5>
                    </a>
                    <div class="price_panel"><span class="new_price">$75.00</span><span class="percentage">-20%</span>
                        <span class="old_price">$155.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item_panel">
                    <a href="#0">
                        <figure>
                            <img src="img/products/product_placeholder_square_small.jpg"
                                data-src="img/products/shoes/4.jpg" alt="" class="lazy">
                        </figure>
                    </a>
                    <a href="#0">
                        <h5>Armor ACG React Terra</h5>
                    </a>
                    <div class="price_panel"><span class="new_price">$110.00</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /related -->
</div>
<!-- /add_cart_panel -->

<!-- Size modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="size-modal" id="size-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Size guide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, et velit propriae invenire mea, ad nam alia intellegat. Aperiam
                    mediocrem rationibus nec te. Tation persecuti accommodare pro te. Vis et augue legere, vel
                    labitur habemus ocurreret ex.</p>
                <div class="table-responsive">
                    <table class="table table-striped table-sm sizes">
                        <tbody>
                            <tr>
                                <th scope="row">US Sizes</th>
                                <td>6</td>
                                <td>6,5</td>
                                <td>7</td>
                                <td>7,5</td>
                                <td>8</td>
                                <td>8,5</td>
                                <td>9</td>
                                <td>9,5</td>
                                <td>10</td>
                                <td>10,5</td>
                            </tr>
                            <tr>
                                <th scope="row">Euro Sizes</th>
                                <td>39</td>
                                <td>39</td>
                                <td>40</td>
                                <td>40-41</td>
                                <td>41</td>
                                <td>41-42</td>
                                <td>42</td>
                                <td>42-43</td>
                                <td>43</td>
                                <td>43-44</td>
                            </tr>
                            <tr>
                                <th scope="row">UK Sizes</th>
                                <td>5,5</td>
                                <td>6</td>
                                <td>6,5</td>
                                <td>7</td>
                                <td>7,5</td>
                                <td>8</td>
                                <td>8,5</td>
                                <td>9</td>
                                <td>9,5</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">Inches</th>
                                <td>9.25"</td>
                                <td>9.5"</td>
                                <td>9.625"</td>
                                <td>9.75"</td>
                                <td>9.9375"</td>
                                <td>10.125"</td>
                                <td>10.25"</td>
                                <td>10.5"</td>
                                <td>10.625"</td>
                                <td>10.75"</td>
                            </tr>
                            <tr>
                                <th scope="row">CM</th>
                                <td>23,5</td>
                                <td>24,1</td>
                                <td>24,4</td>
                                <td>24,8</td>
                                <td>25,4</td>
                                <td>25,7</td>
                                <td>26</td>
                                <td>26,7</td>
                                <td>27</td>
                                <td>27,3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table -->
            </div>
        </div>
    </div>
</div>