<header class="version_1">
    <div class="layer"></div><!-- Mobile menu overlay mask -->
    <div class="main_header">
        <div class="container">
            <div class="row small-gutters">
                <div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
                    <div id="logo">
                        <a href="home"><img src="assets/img/logo.svg" alt="" width="100" height="35"></a>
                    </div>
                </div>
                <nav class="col-xl-6 col-lg-7">
                    <a class="open_close" href="javascript:void(0);">
                        <div class="hamburger hamburger--spin">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </a>
                    <!-- Mobile menu button -->
                    <div class="main-menu">
                        <div id="header_menu">
                            <a href="index.html"><img src="assets/img/logo_black.svg" alt="" width="100"
                                    height="35"></a>
                            <a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
                        </div>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Home</a>
                                <ul>
                                    <li><a href="home">Home</a></li>
                                    <li><a href="aide">Aide</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li><a href="aPropos">A Propos</a></li>

                                </ul>
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Pages</a>
                                <div class="menu-wrapper">
                                    <div class="row small-gutters">
                                        <div class="col-lg-3">
                                            <h3>Listing grid</h3>
                                            <ul>
                                                <li><a href="listeProduits">Liste Produits</a></li>
                                                <li><a href="home">Home</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>Listing row &amp; Product</h3>
                                            <ul>
                                                <li><a href="listeProduitsBarreLaterale">Row Sidebar Left</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3>Other pages</h3>
                                            <ul>
                                                <li *ngIf="clientconnecte"><a href="cart">Cart </a></li>
                                                <li *ngIf="clientconnecte"> <a href="verifierCommande">verifier
                                                        Commande</a></li>
                                                <li *ngIf="clientconnecte"><a href="profil">Profil</a></li>
                                                <li><a href="aide">Aide</a></li>
                                                <li *ngIf="clientconnecte"><a href="commenter">commenter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                                            <div class="banner_menu">
                                                <a href="#0">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                        data-src="img/banner_menu.jpg" width="400" height="550" alt=""
                                                        class="img-fluid lazy">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                                <!-- /menu-wrapper -->
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Extra Pages</a>
                                <ul>
                                    <li><a href="header-2.html">Header Style 2</a></li>
                                    <li><a href="header-3.html">Header Style 3</a></li>
                                    <li><a href="header-4.html">Header Style 4</a></li>
                                    <li><a href="header-5.html">Header Style 5</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="sign-in-modal.html">Sign In Modal</a></li>
                                    <li><a href="contacts.html">Contact Us</a></li>
                                    <li><a href="about.html">About 1</a></li>
                                    <li><a href="about-2.html">About 2</a></li>
                                    <li><a href="modal-advertise.html">Modal Advertise</a></li>
                                    <li><a href="modal-newsletter.html">Modal Newsletter</a></li>
                                </ul>
                            </li>
                            <li *ngIf="clientconnecte">
                                <a href="cart">Ma Carte</a>
                            </li>
                            <li>
                                <a href="listeProduits">Liste Des Produits</a>
                            </li>
                        </ul>
                    </div>
                    <!--/main-menu -->
                </nav>


                <div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-right"
                    *ngIf="clientconnecte">
                    <a class="phone_top" style="cursor: pointer;">
                        <strong>
                            <table>
                                <tr>
                                    <td>
                                        <img style=" -webkit-border-radius:50px;
                            -moz-border-radius:50px;
                            border-radius:50px;
                            width:40px;
                            height:40px;" class="img" alt="avatar" src="{{client.imageUrl}}">
                                    </td>
                                    <td (click)="profil()" >
                                        <span >{{client.nom}} {{client.prenom}}</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div>
                                            <a (click)="deconnexion()">deconnexion</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </strong>
                    </a>
                </div>


                <div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-right"
                    *ngIf="!clientconnecte">
                    <a class="phone_top" style="cursor: pointer;"><strong><span href="profil">{{client.nom}}
                                {{client.prenom}}</span> <a (click)="deconnexion()">S'inscrire</a></strong></a>
                </div>


            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /main_header -->

    <div class="main_nav Sticky">
        <div class="container">
            <div class="row small-gutters">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <nav class="categories">
                        <ul class="clearfix">

                            <li><span>
                                    <a href="#">
                                        <span class="hamburger hamburger--spin">
                                            <span class="hamburger-box">
                                                <span class="hamburger-inner"></span>
                                            </span>
                                        </span>
                                        Sous Categories
                                    </a>
                                </span>
                                <div id="menu">
                                    <ul>
                                        <li *ngFor="let s of listeSousCategories"><span><a
                                                    (click)="listeProdBySousCat(s.titre)">{{s.titre}}</a></span>

                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
                    <div class="custom-search-input">
                        <input type="text" placeholder="Search over 10.000 products">
                        <button type="submit"><i class="header-icon_search_custom"></i></button>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3">
                    <ul class="top_tools">
                        <li>
                            <div class="dropdown dropdown-cart" *ngIf="clientconnecte">
                                 <a href="cart" class="cart_bt"><!--<strong></strong> --></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li *ngFor="let l of listeLigneCommandeCommandee">
                                            <a href="product-detail-1.html">
                                                <figure><img src="{{l.produit.imageUrl}}"
                                                        data-src="{{l.produit.imageUrl}}" alt="" width="50" height="50"
                                                        class="lazy"></figure>
                                                <strong><span>{{l.quantite}}x
                                                        {{l.produit.titre}}</span>{{l.prixParQuantite}}</strong>
                                            </a>
                                            <a href="#0" class="action"><i class="ti-trash"></i></a>
                                        </li>

                                    </ul>
                                    <div class="total_drop">
                                        <div class="clearfix"><strong>Total</strong><span>{{Total}}</span></div>
                                        <a href="cart" class="btn_1 outline">Consulter Carte</a>
                                        <a *ngIf="verifierCommande" href="verifierCommande" class="btn_1">Vérifier</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /dropdown-cart-->
                        </li>

                        <li>
                            <a *ngIf="clientconnecte" href="#0" class="wishlist"><span>Wishlist</span></a>
                        </li>





                        <li>
                            <div class="dropdown dropdown-access">
                                <a href="account.html" class="access_link"><span>Account</span></a>
                                <div class="dropdown-menu">
                                    <a href="login" class="btn_1">Se Connecter Ou Inscrire</a>
                                    <ul>

                                        <li>
                                            <a *ngIf="clientconnecte" href="historiqueCommande"><i
                                                    class="ti-pie-chart"></i>Historique des Commandes</a>
                                        </li>
                                        <li>
                                            <a *ngIf="clientconnecte" href="profil"><i class="ti-user"></i>Mon
                                                Profile</a>
                                        </li>
                                        <li>
                                            <a *ngIf="clientconnecte" href="messages"><i
                                                    class="ti-email"></i>Messages</a>
                                        </li>
                                        <li>
                                            <a *ngIf="clientconnecte" href="commenter"><i
                                                    class="ti-comment"></i>Commenter Un produit</a>
                                        </li>
                                        <li style="cursor: pointer;">
                                            <a *ngIf="clientconnecte" (click)="deconnexion()"><i
                                                    class="ti-power-off"></i>Deconnexion</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- /dropdown-access-->
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn_search_mob"><span>Search</span></a>
                        </li>
                        <li>
                            <a href="#menu" class="btn_cat_mob">
                                <div class="hamburger hamburger--spin" id="hamburger">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                Categories
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <div class="search_mob_wp">
            <input type="text" class="form-control" placeholder="Search over 10.000 products">
            <input type="submit" class="btn_1 full-width" value="Search">
        </div>
        <!-- /search_mobile -->
    </div>
    <!-- /main_nav -->
</header>