<div id="page">
    <div class="bg_gray">


        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="cart">Carte</a></li>
                        <li>Verifier Commande</li>
                    </ul>
                </div>
                <h1>Se Connecter ou S'inscrire</h1>

            </div>
            <!-- /page_header -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="step first">
                        <h3>1. Informations Utilisateurs</h3>
                        <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab_1" role="tab"
                                    aria-controls="tab_1" aria-selected="true">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab_2" role="tab"
                                    aria-controls="tab_2" aria-selected="false">Se Connecter</a>
                            </li>
                        </ul>
                        <div class="tab-content checkout">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
                                <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                                    <div class="text-center">
                                        <img [src]="imgSrc" width="200px" height="150px" (click)="fileUploader.click()">
                                    </div>
                                    <div class="form-group">
                                        <label>Choisir photo du profil</label>
                                        <input accept="image/*" class="form-control" type="file" #fileUploader
                                            formControlName="imageUrl" (change)="showPreview($event)">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" formControlName="email">
                                    </div>
                                    <div class="form-group">
                                        <label>mot de passe</label>
                                        <input type="text" class="form-control" name="motDePasse"
                                            formControlName="motDePasse">
                                    </div>
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" class="form-control" name="nom" formControlName="nom">
                                    </div>
                                    <div class="form-group">
                                        <label>Pren</label>
                                        <input type="text" class="form-control" name="prenom" formControlName="prenom">
                                    </div>
                                    <div class="form-group">
                                        <label>Adresse</label>
                                        <input type="text" class="form-control" name="adresse"
                                            formControlName="adresse">
                                    </div>
                                    <div class="form-group">
                                        <label>Numéro de télephone</label>
                                        <input type="number" class="form-control" name="numTelephone"
                                            formControlName="numTelephone">
                                    </div>
                                    <div class="text-center"><input type="submit" value="S'inscrire"
                                            class="btn_1 full-width"></div>
                                </form>
                                <hr>


                                <hr>
                            </div>
                            <!-- /tab_1 -->
                            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2">
                                <a href="#0" class="social_bt facebook">Se Connecter avec Facebook</a>
                                <a href="#0" class="social_bt google">Se Connecter avec Google</a>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"
                                        name="password_in" id="password_in">
                                </div>
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">memoriser
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a id="forgot" href="#0">mot de passe oublié?</a></div>
                                </div>
                                <div id="forgot_pw">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email_forgot" id="email_forgot"
                                            placeholder="Type your email">
                                    </div>
                                    <p>A new password will be sent shortly.</p>
                                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1">
                                    </div>
                                </div>
                                <hr>
                                <input type="submit" class="btn_1 full-width" value="Login">
                            </div>
                            <!-- /tab_2 -->
                        </div>
                    </div>
                    <!-- /step -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="step middle payments">
                        <h3>2. Payement et Livraison</h3>
                        <ul>
                            <li>
                                <label class="container_radio">Credit Card<a href="#0" class="info" data-toggle="modal"
                                        data-target="#payments_method"></a>
                                    <input type="radio" name="payment"   [disabled]="true">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li >
                                <label disable class="container_radio">Paypal<a href="#0" class="info" data-toggle="modal"
                                        data-target="#payments_method"></a>
                                    <input type="radio" name="payment" [disabled]="true">
                                    <span class="checkmark"></span>
                                   
                                </label>
                                
                            </li>
                            <li>
                                <label class="container_radio">payement à la livraison<a href="#0" class="info"
                                        data-toggle="modal" data-target="#payments_method"></a>
                                    <input type="radio" name="payment" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_radio">Bank Transfer<a href="#0" class="info"
                                        data-toggle="modal" data-target="#payments_method"></a>
                                    <input type="radio" name="payment"  [disabled]="true">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <div class="payment_info d-none d-sm-block">
                            <figure><img src="assets/img/cards_all.svg" alt=""></figure>
                            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </p>
                        </div>

                        <h6 class="pb-2">Methode de Livraison</h6>


                        <ul>
                            <li (click)="livraisonStandard()">
                                <label class="container_radio">Méthode Standard <a href="#0" class="info"
                                        data-toggle="modal" data-target="#payments_method"></a>
                                    <input type="radio" name="shipping" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li (click)="livraisonExpresse()">
                                <label class="container_radio">Livraison express<a href="#0" class="info"
                                        data-toggle="modal" data-target="#payments_method"></a>
                                    <input type="radio" name="shipping">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                        </ul>

                    </div>
                    <!-- /step -->

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="step last">
                        <h3>3. Commande</h3>
                        <div class="box_general summary">
                            <ul>
                                <li class="clearfix" *ngFor="let l of listeLigneCommandeCommandee"><em>{{l.quantite}}x
                                        {{l.produit.titre}}</em> <span>{{l.prixParQuantite}}</span></li>
                            </ul>
                            <ul>
                                <li class="clearfix"><em><strong>Subtotal</strong></em> <span>{{Total}} DT</span></li>
                                <li class="clearfix"><em><strong>Livraison</strong></em>
                                    <span>{{prixLivraison}}DT</span>
                                </li>

                            </ul>
                            <div class="total clearfix">TOTAL <span>{{chargeTotal}}</span></div>
                            <div class="form-group">
                                <label class="container_check">Register to the Newsletter.
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <a (click)="confirmerCommande()" class="btn_1 full-width">Confirmer et Payer</a>
                        </div>
                        <!-- /box_general -->
                    </div>
                    <!-- /step -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!--/main-->
</div>