<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a>
                        <img src={{client.imageUrl}}.jpeg alt="">
                    </a>
                    <h1>{{client.nom}} {{client.prenom}}</h1>
                    <p>{{client.email}}</p>
                </div>

                <ul style="cursor: pointer;">
                    <li class="active"><a href="#"> <i class="fa fa-user"></i> Profil</a></li>
                    <li><a> <i class="fa fa-calendar"></i> Historique Commande </a></li>
                    <li><a (click)="editProfil()"> <i class="fa fa-edit"></i> Edit profile</a></li>

                </ul>
                <ul>

                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">


            </div>
            <div>
                <p></p>
            </div>
            <div class="panel">
                <div class="bio-graph-heading">
                    Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna
                    metus.
                </div>

            </div>
            <div>
                <p></p>
                <p></p>
            </div>


            <div class="panel-body bio-graph-info">

                <div class="step first">
                    <div class="step last">
                        <h3>1.Info Génerales</h3>
                        <div class="box_general summary">
                            <div class="row">
                                <div class="bio-row">
                                    <p><span>Id </span>: {{client.id}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Nom </span>: {{client.nom}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Prenom </span>: {{client.prenom}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Adresse </span>: {{client.adresse}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>email</span>: {{client.email}}</p>
                                </div>


                                <div class="bio-row">
                                    <p><span>Mobile </span>: {{client.numTelephone}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>






            <div class="step first" *ngIf="afficherEditProfil">
                <h3>2. Informations Utilisateurs</h3>
                <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab_1" role="tab"
                            aria-controls="tab_1" aria-selected="true">Editer Informations</a>
                    </li>

                </ul>
                <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                    <div class="text-center">
                        <img [src]="imgSrc" width="200px" height="150px" (click)="fileUploader.click()">
                    </div>
                    <div class="form-group">
                        <label>Choisir photo du profil</label>
                        <input accept="image/*" class="form-control" type="file" #fileUploader
                            formControlName="imageUrl" (change)="showPreview($event)">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Ce champ
                            est
                            obligatoire..
                        </div>

                    </div>







                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" formControlName="email">
                    </div>




                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="nom" formControlName="nom">
                    </div>


                    <div class="form-group">
                        <label>Pren</label>
                        <input type="text" class="form-control" name="prenom" formControlName="prenom">
                    </div>



                    <div class="form-group">
                        <label>Numéro de télephone</label>
                        <input type="number" class="form-control" name="numTelephone" formControlName="numTelephone">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">ville de livraison</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="adresse"
                            formControlName="adresse">
                            <option value="">Choisir une adresse</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Nabel">Nabel</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Gabes">Gabes</option>
                            <option value="Mednine">Mednine</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Selyena">Selyena</option>
                        </select>
                    </div>


<!--
                    <div>

                        <button type="submit" class="btn btn-success btn-block float-right">Submit</button>

                    </div>
                    -->
                    <div  class="text-center"><input  type="submit" value="Submit"
                        class="btn_1 full-width"></div>
                    <br>
                </form>
            </div>











            <div class="step first">
                <div class="step last">
                    <h3>3.Historique des Commande</h3>
                    <div class="box_general summary">
                        <ul>

                            <table class="table table-striped cart-list">
                                <thead>
                                    <tr>
                                        <th>
                                            n^ de commande
                                        </th>
                                        <th>
                                            Date Livraison
                                        </th>

                                        <th>
                                            Methode de livraison
                                        </th>
                                        <th>
                                            Charge de livraison
                                        </th>
                                        <th>
                                            Details de commande
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of listeCommande">
                                        <td>

                                            <strong>{{c.idCommande}} </strong>
                                        </td>
                                        <td>
                                            <strong>{{c.dateLivraison}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{c.methodeLivraison}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{c.chargeLivraison}}</strong>
                                        </td>
                                        <td>

                                            <div (click)="DetailsCmd(c)" class="text-center"><input type="submit"
                                                    value="Details" class="btn_1 full-width"></div>


                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </ul>





                    </div>
                    <!-- /box_general -->
                </div>
                <!-- /step -->
            </div>
















        </div>
    </div>

</div>